* {
  font-family: "Montserrat", sans-serif !important;
}

.medical-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  width: calc(33.33% - 20px);
  margin-bottom: 30px;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  display: block;
  margin: 0 auto 10px;
  padding-bottom: 10px;
}

.card h3 {
  text-align: center;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .card {
    width: 100%;
  }
}
@media (max-width: 480px) {
  #service-img {
    display: none;
  }

  .about-banner {
    width: 320px !important;
  }

  .about-content {
    margin-bottom: 80px !important;
  }
}

#section1ab {
  padding-top: 80px !important;
  width: 150px !important;
}

#servicenew {
  width: 350px !important;
}

.about-content {
  margin-bottom: 80px !important;
}

#about55 {
  margin-right: 100px !important;
}

@media (max-width: 760px) {
  #img22 {
    display: none;
  }
}

#section1ab {
  padding-top: 80px !important;
  width: 150px !important;
}

#servicenew {
  width: 350px !important;
}

.about-content {
  margin-bottom: 80px !important;
}

#about55 {
  margin-right: 60px !important;
}

.about {
  padding-block-end: 0;
}

.about .container {
  display: grid;
  gap: 20px;
  overflow: hidden;
}

.about .section-text {
  margin-block: 20px 35px;
}

.tab-list {
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 15px;
}

.tab-btn {
  background-color: ff8189;
  color: white;
  padding: 7px 30px;
  border-radius: var(--radius-6);
  font-weight: var(--fw-700);
}

.tab-btn.active {
  background-color: darkcyan;
  color: white;
}

.tab-text {
  color: var(--midnight-green);
  margin-block: 35px;
}

.about-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-block-end: 10px;
}

.about-item ion-icon {
  color: darkcyan;
  font-size: 2rem;
  flex-shrink: 0;
}

/*====================
      Listing
====================*/
.listing {
  background-color: var(--alice-blue);
}

.listing-card {
  padding: 25px 16px;
  display: flex;
  gap: 20px;
  border: 2px solid var(--middle-blue-green_40);
  border-radius: var(--radius-12);
  transition: var(--transition-1);
}

.listing-card:is(:hover, :focus-visible) {
  border-color: var(--verdigris);
}

.listing-card .card-title {
  margin-block-end: 5px;
  font-family: var(--ff-oswald);
}

.listing-card .card-text {
  color: var(--midnight-green);
}
