@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
  font-family: "Montserrat", sans-serif !important;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
}

#about {
  padding-bottom: 100px !important;
}

#about99 {
  margin-right: 30px;
}

.about-banner {
  padding-top: 120px;
}

/* h1 {
  margin: 50px 0 30px;
  text-align: center;
} */

.cta-banner {
  height: 400px;
}

@media (max-width: 760px) {
  #about {
    padding-top: 160px;
  }

  .cta-banner {
    height: 1000px;
  }
  #service11 {
    display: block;
  }

  #open {
    display: none;
    /* height: 800px; */
  }
}

#open {
  margin-bottom: 80px;
}

.FAQQQ {
  margin-bottom: 80px;
}

.faq-item {
  margin-bottom: 40px;
  margin-top: 40px;
}
.faq-body {
  display: none;
  margin-top: 60px;
}
.faq-wrapper {
  width: 75%;
  margin: 0 auto;
}
.faq-inner {
  padding: 30px;
  background: aliceblue;
}
.faq-plus {
  float: right;
  font-size: 1.4em;
  line-height: 1em;
  cursor: pointer;
}
hr {
  background-color: #9b9b9b;
}

.FAQ-CONT {
  margin-top: 150px;
  border-radius: 20px 20px 0px 0px;
  padding: 10px 0px;
  background: #007881;
  color: #fff;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

#servicenew {
  width: 350px !important;
}
